<%= csrf_meta_tags %>
<div id="csrf-token" data-csrf-token="<%= @csrf_token %>"></div>
<h1>Welcome</h1>
<p>This is Andre's Minecraft Server.</p>

<% if Rails.env.production? %>
  <%= stylesheet_pack_tag 'signup_app' %>
  <%= stylesheet_pack_tag 'startup_app' %>
<% end %>
<%= javascript_pack_tag 'signup_app' %>